@import "tailwindcss";

html,
body {
  overflow-x: hidden;
  overflow-y: hidden;
}

@theme {
  --color-background: #1a1a1b;
  --color-primary: #af8f5c;
  --color-secondary: #3e2723;
  --color-tertiary: #d7ccc8;
}
